.box1{
    background-color: green;
    width: 1500px;
    height: 340px;
    margin: auto;
    
}

h1{
    color: white;
    text-align: center;
}
img{
    width: 300px;
    height: 200px;
    border-radius: 10%;
    margin: auto;
}
.input3,.input2{
    width: 450px;
    height: 20px;
}
.input1{

    width: 450px;
    height: 80px;

}
button{
    background-color: green;
    color: white;
}
h2{

    color: black;
}
.div2{

background-color: white;


}
table{

border-collapse: collapse;

}
.th1{

    border: 1px solid black;
    width: 800px;
}
.th2{

    border: 1px solid black;
   width: 800px;
}
td{
    border: 1px solid black;
}


.div4{
    background-color: rgb(200, 194, 194);
    width: 1500px;
    height: 200px;
    margin-right: 44%;
    
}

.div6{
    background-color: rgb(239, 237, 237)

   
    
}
.txt89{
margin-right: 80% ;
    color: black;
}
.rnng1{
    background-color: rgb(34, 33, 33);
    text-align: center;
    color: white;

}